.am-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0.88rem;
  padding: 0 0.16rem;
  overflow: hidden;
  /* background-color: #efeff4; */
}
.wx-index {
  // position: relative;
  padding-top: 0.88rem;
  padding-bottom: 0.9rem;
  .index-search {
    position: fixed;
    top: 0;
    left: 0;
    height: 0.88rem;
    width: 100%;
    z-index: 1000000000;
    background-color: #1786CD;
  }
.indexLoginLabel{
  color: #FFFFFF;
  width: 1.2rem;
  text-align: center;
}
  .am-list-header{
    padding: 0.3rem 0.3rem 0.18rem 0.3rem;
    font-size: 0.28rem;
    color: #888;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .am-list-item {
    padding-left: 0;

    .am-list-line {
      padding-right: 0;
    }
  }
  .am-list-item .am-list-line .am-list-content,
  .am-list-item .am-list-line .am-list-extra,
  .am-button {
    font-size: .28rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
